

<div class="container">

        <div class="jumbotron">
                <h1 class="display-4">Proyecto CRUD </h1>
                <p class="lead">Proyecto CRUD con NodeJS, Express y MongoDB</p>
                <hr class="my-4">
                <p>Proyecto Final 3CT</p>
                
        </div>


</div>
