body {
    font-family: sans-serif;
    background-color: rgb(25, 25, 32) !important;
}

.text-right {
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(64, 190, 190);
    text-decoration: solid;
}

.tab {
    margin-top: 20px !important;
}

.bot {
    margin-top: 15px;
}