<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <h1>Calculadora</h1>
        <form action="/calculadora" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">numero 1</label>
                <input type="text" name="num1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">numero 2</label>
                <input type="text" name="num2" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>

            <select name="operacionFront" class="form-select" aria-label="Default select example">
                <option value="1">Suma</option>
                <option value="2">Resta</option>
                <option value="3">Multiplicacion</option>
                <option value="4">Division</option>
              </select>
            <button type="submit" class="btn btn-primary">Calcular</button>
        </form>
    </div>


</body>

</html>